@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom right, rgb(216, 216, 241), rgb(116, 128, 145));
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 40rem;
    margin: 0 auto;
    margin-top: 4rem;
    background-color: #fff;
    border-radius: 3px solid #fff;;
}

.main-container h1 {
    padding: 30px 0;
    background: rgb(0, 89, 255);
    width: 100%;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.sub-container {
    padding: 30px;
    border-radius: 11px 11px 0 0;
}

.form-header p {
    text-align: center;
    margin-bottom: 30px;
    color: rgb(192, 188, 188);
}

.form-header h1 {
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: #006aff;
}

.form-header p {
    color: rgb(37, 77, 128);
    font-size: 1.5rem;
}

form label {
    display: inline-block;
    width: 12rem;
    font-size: 1.4rem;
    color: #333;
 
}

form input {
    width: 62%;
    margin-bottom: 1rem;
    height: 3rem;
    border: 1px solid rgb(208, 208, 208);
    border-radius: 3px;
    padding: 0 1rem;
    font-family: inherit;
    margin-right: rem;
    font-size: 1.4rem;
}
.psw-container{
    position: relative;
}
#icon-eye {
    width: 2rem;
    position: absolute;
    right: 1.5rem;
    top: 0.5rem;
    cursor: pointer;
    filter: opacity(0.8);
}

#submit {
    width: 100%;
    height: 4rem;
    text-transform: uppercase;
    background: #006aff;
    color: #fff;
    border: none;
    border-radius: 3px;
    margin-top: 2rem;
    cursor: pointer;
    box-shadow: 0 3rem 3rem rgba(0,0,0,0.1);
    transition: 0.3s ease;
    font-family: inherit;
}

a {
    text-decoration: none;
    color: rgb(246, 177, 79);
}

.login-link {
    font-size: 1.6rem;
    color: #555;
    margin-top: 2rem;
}

#submit:hover, #submit:active {
    box-shadow: none;
    filter: opacity(0.8)
}

#psw-txt, #account-txt, .footer-txt {
    font-size: 1.5rem;
    color: #777;
    margin: 1rem 0;
}